#mainimg {
    background: url(../assets/fondo13.png);
    height: 670px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* width: 100%; */
    width: 100%;
    margin-top: 4%;
}