.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 1.5rem;
    margin-right: 2.5%;
    margin-left: 2.5%;
    margin-bottom: 3%;
}

.anuncios {
    background-color: #EEEEEE;
    padding: 1%;
}

.sub-heading {
    text-align: center;
    color: var(--red);
    font-size: 2rem;
    padding-top: 1rem;
}

.heading {
    text-align: center;
    color: var(--black);
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}